<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Localization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA0D0EE81C53EF0B007838C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA0D0EFC1C53EF0C007838C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA0D0F071C53EF0C007838C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
